<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img alt="Conférence Logo" class="logo" src="assets/logo.png"></ion-img>
<!--    <ion-title>Présentateurs</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" >

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <h1>Présentateurs</h1>
          </ion-text>
          <ion-text>
            Voir les <a [routerLink]="['/notes']">notes</a>
          </ion-text>
          <ion-list [inset]="true">
            <ion-item [button]="true" *ngFor="let sp of speakers; let index">
              <ion-avatar slot="start">
<!--                <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />-->
              <img src="{{sp.photoUrl}}" alt="{{sp.name}}" />
              </ion-avatar>
              <ion-label>{{ sp.name }}</ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-icon color="medium" name="chevron-forward"></ion-icon>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
