<app-header [title]="pageTitle"></app-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" >

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <h1>Présentateurs</h1>
          </ion-text>
          <ion-text>
            Voir les <a [routerLink]="['/notes']">notes</a>
          </ion-text>
          <ion-list [inset]="true">
            <ion-item [button]="true" *ngFor="let sp of speakers; let index">
              <ion-avatar slot="start">
                <ion-img *ngIf="sp.photoUrl" [src]="_imgUrl + sp.photoUrl" alt="{{sp.name}}"></ion-img>
                <ion-img *ngIf="!sp.photoUrl" src="assets/no-img.png" alt="{{sp.name}}"></ion-img>
              </ion-avatar>
              <ion-label>{{ sp.name }}</ion-label>
              <div class="metadata-end-wrapper" slot="end">
                <ion-icon color="medium" name="chevron-forward"></ion-icon>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
