<app-header [title]="pageTitle"></app-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <h1 >{{pageTitle}}</h1>
          </ion-text>
          <ion-card *ngIf="session">
            <ion-img *ngIf="session.image" [src]="_imgUrl + session.image" alt="{{session.title}}"></ion-img>
            <ion-img *ngIf="!session.image" src="assets/no-img.png" alt="{{session.title}}"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ session.title }}</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-text>{{ session.description }}</ion-text>
              <ion-list *ngIf="speakers.length > 0">
                <ion-list-header><h2>Présentateurs</h2></ion-list-header>
                <ion-item *ngFor="let speaker of speakers">
                  <ion-avatar slot="start">
                  </ion-avatar>
                  <ion-label>
                    <h2>{{ speaker.name }}</h2>
                  </ion-label>
                </ion-item>
              </ion-list>
              <ion-text *ngIf="speakers.length === 0">Aucun présentateur pour cette session.</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
